@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");
@import "https://fontlibrary.org/face/horta"; /* 'HortaRegular' */
@import "https://monstrousdev.github.io/themes/addons/user-tags.css";
@import "https://themonstrousdev.github.io/styles/google-fonts.css";


/* *•̩̩͙⊱••••••••••••✩ VARIABLES ✩••••̩̩͙⊰•••••••••** */
:root {
	--theme-name: "Black Hole";
  --theme-version: "1.5";
  --blurple: rgb(113, 136, 217);
  --greyple: rgb(151, 168, 180);
  --blurple-sheer: rgba(114, 137, 218, 0.267);
  --greyple-sheer: rgba(151, 168, 180, 0.267);
  --black-hole: url(file:///C:/Users/ponde/Downloads/DGUY_SKALMAR.png);
  --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
  --roundness: 50px;
  --uno: rgb(25, 25, 27);
  /* primary background color */
  --dos: rgb(30, 30, 33);
  /* secondary background color */
  --tres: rgb(35, 35, 39);
  /* tertiary background color */
  --quatro: rgb(16, 16, 17);
  /* quaternary background color */
  --sheer: rgba(0,0,0,0.6);
  --veil: rgba(100, 100, 100, 0.2);


  --online: rgb(67, 181, 129);
  --online-sheer: rgba(67, 181, 129, 0.267);
  /* color for online status */
  --idle: rgb(250, 166, 26);
  --idle-sheer: #faa61a44;
  /* color for idle status */
  --dnd: rgb(240, 71, 71);
  --dnd-sheer: rgba(240, 71, 71, 0.267);
  /* color for dnd status */
  --offline: rgb(99, 107, 117);
  --offline-sheer: rgba(99, 107, 117, 0.267);
  /* color for offline status */
  --invisi: rgb(116, 127, 141);
  --invisi-sheer: rgba(116, 127, 141, 0.267);
  /* color for invisible status - Note this will only show for your own invisibility */
  --streaming: rgb(100, 61, 167);
  --streaming-sheer: rgba(100, 61, 167, 0.267);
  /* color for streaming status */

}

/* ==== TABLE OF CONTENTS ====
*  ========== STATIC ==========
*  I. App Window
*  II. Title Bar
*  III. Channel Area
*     A. Channels Header
*     B. Channel Groups and Individual Channels
*     C. User Settings and Voice Connection
*     D. Private Channels
*     
*  IV. Guilds Area
*     A. Guilds Header
*     B. Guild Styles
*     C. Guild Folders
*
*  V. Pages
*     A. Main Areas
*       1. Embeds, Code Blocks, and Invites
*       2. Login Page
*       3. Download Discord
*     B. Members List
*     C. Top Bar & Typing Status
*     D. Cards and Tiles
*     E. Buttons, Switches, and Bars
*     F. Change SVGs
*
*  VI. Top Layers
*  VII. ScrollBars
*
*
*
*
*  ========== MODALS AND POPOUTS ==========
*  VIII. Menus
*     A. Server Menu
*     B. User Status
*     C. Context Menu
*     D. Dropdown Menus
*  IX. Popouts
*     A. User Popout
*     B. Message Popout
*     C. Search Popout & Results
*     D. Attach Popout, Add Game popout
*     E. Tooltips & Notices
*     F. Autocomplete & Everyone Popout
*     G. Gift Nitro and Gif Picker
*     H. Emoji Picker
*     I. Game Preview
*     J. Add Roles Popout & Roles Overflow
*     K. RTC Connection
*     L. Stream Popout
*     M. Follow Channel
*     
*  X. Modals
*     A. User Modal
*     B. Upload Modal 
*     C. Join Guild Modal
*     D. Messages Modal, Games Download Modal, Screenshare
*     E. Incoming Call & Phone Verification
*     F. Reactions Modal & Server Invite Modal
*     G. Gift Modal
*  XI. Keyframes
*  XII. Custom CSS
*  XIII. Plugin Optimization
*     A. Ghost Ping
*     B. Permissions Viewer
*  XIV. Addon Optimization
*/


/* I. App Window */
#app-mount,
.container-2RRFHK,
.perksModalContentWrapper-2HU6uL {
  background: linear-gradient(var(--sheer), var(--sheer)),var(--black-hole) center/30% fixed;
}

#app-mount .app-2CXKsg, 
#app-mount .layers-OrUESM,
.privateChannels-oVe7HL,
.container-1eFtFS,
#app-mount .layer-86YKbF,
.bg-1QIAus {
  background-color: transparent;
}
